<%- include('partials/header') %>

<div class="centered">
    <div class="container-box">
        <!-- <i class="fa-thin fa-list fa-10px"></i> -->
        <!-- <i class="fas fa-key fa-6x"></i> -->
        <i class="fa-solid fa-list"></i>
        <h1 class="display-3">Todo-List</h1>
        <p class="sub-lead">Make your own list</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/auth/register" role="button">Register</a>
        <a href="/auth" class="btn btn-dark btn-lg" role="button">Login</a>
    </div>
</div>

<%- include('partials/footer') %>
